.cache/
.DS_Store
.vscode/
.idea/
build/
dist/
pgvctrl.egg-info/
dbversioning/databases/
dbversioning/dbRepoConfig.json
*.pyc
*.bak
__pycache__
htmlcov
.coverage
/test/dbRepoConfig.json
/test/databases/_schemaSnapshot/
/test/databases/_databaseBackup/
/test/databases/pgvctrl_test/data/*.sql